{% extends "base.html" %}

{% block title %}Log-in{% endblock %}

{% block content %}
    <h1>Log-in</h1>
    <p>Please, use the following form to log-in:</p>
    <form action="." method ="post"> <!-- action attribute defines where the got data is sent. Its value must be a valid URL.
                                     If this attribute isn't provided, the data will be sent to the URL of the page
                                     containing the form. I think that in this case "." is is sending the data to the view that
                                     contains this form. Action tells the browser that the form data should be sent to
                                     the specified URL (html file) -->
        {{ form.as_p }}
        {% csrf_token %}
        <p><input type = "submit" value = "Log-in"></p>
    </form>
{% endblock %}

